@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'locomotive-scroll/dist/locomotive-scroll.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

[data-scroll-container] {
    min-height: 100vh;
}
